html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title=pageTitle
    include ../block/styles.jade

  body
    include ../block/header.jade
    block container
    include ../block/footer.jade

    include ../block/script.jade
