extends ./layout/smartphone-layout

block screen
  .smartphone-wrapper.s320-480
    .content-wrapper
      .gallery-list-wrap
        .gallery-item
          .pics-show
            .pic-item.col-xs-12.no-pad
              img(src="images/photos/gallery/beauty11.jpg")
            .pic-item.col-xs-12.no-pad
              img(src="images/photos/gallery/beauty12.jpg")
            .clearfix
          .info-bar
            .options-bar
              i.fa.fa-share
              i.fa.fa-heart
              i.fa.fa-thumb-up
            .title Beautiful gallery
            .info
              i.fa.fa-ellipsis-v.options
              span.count
                i.fa.fa-eye
                span 188
              span.count
                i.fa.fa-heart
                span 12
            .clearfix
        .gallery-item
          .pics-show
            .pic-item.col-xs-12.no-pad
              img(src="images/photos/gallery/beauty11.jpg")
            .pic-item.col-xs-12.no-pad
              img(src="images/photos/gallery/beauty12.jpg")
            .clearfix
          .info-bar
            .options-bar
              i.fa.fa-share
              i.fa.fa-heart
              i.fa.fa-thumb-up
            .title Beautiful gallery
            .info
              i.fa.fa-ellipsis-v.options
              span.count
                i.fa.fa-eye
                span 188
              span.count
                i.fa.fa-heart
                span 12
            .clearfix
        .gallery-item
          .pics-show
            .pic-item.col-xs-12.no-pad
              img(src="images/photos/gallery/beauty11.jpg")
            .pic-item.col-xs-12.no-pad
              img(src="images/photos/gallery/beauty12.jpg")
            .clearfix
          .info-bar
            .options-bar
              i.fa.fa-share
              i.fa.fa-heart
              i.fa.fa-thumb-up
            .title Beautiful gallery
            .info
              i.fa.fa-ellipsis-v.options
              span.count
                i.fa.fa-eye
                span 188
              span.count
                i.fa.fa-heart
                span 12
            .clearfix
        .gallery-item
          .pics-show
            .pic-item.col-xs-12.no-pad
              img(src="images/photos/gallery/beauty11.jpg")
            .pic-item.col-xs-12.no-pad
              img(src="images/photos/gallery/beauty12.jpg")
            .clearfix
          .info-bar
            .options-bar
              i.fa.fa-share
              i.fa.fa-heart
              i.fa.fa-thumb-up
            .title Beautiful gallery
            .info
              i.fa.fa-ellipsis-v.options
              span.count
                i.fa.fa-eye
                span 188
              span.count
                i.fa.fa-heart
                span 12
            .clearfix


