extends ./layout/smartphone-layout

block screen
  .smartphone-wrapper.s320-480
    .content-wrapper
      .gallery-wrap
        .info-bar
          .name Beautiful gallery 1
          .info
            span.count
              i.fa.fa-eye
              span 256
            span.count
              i.fa.fa-heart
              span 23
            i.fa.fa-ellipsis-v.options
          .clearfix
        .pic-item.col-xs-6.no-pad
          img(src="images/photos/gallery/gallery1/pic01.jpg")
          .options
            .switch
              i.fa.fa-ellipsis-h
        .pic-item.col-xs-6.no-pad
          img(src="images/photos/gallery/gallery1/pic02.jpg")
          .options
            .switch
              i.fa.fa-ellipsis-h
        .pic-item.col-xs-6.no-pad
          img(src="images/photos/gallery/gallery1/pic03.jpg")
          .options
            .switch
              i.fa.fa-ellipsis-h
        .pic-item.col-xs-6.no-pad
          img(src="images/photos/gallery/gallery1/pic04.jpg")
          .options
            .switch
              i.fa.fa-ellipsis-h
        .pic-item.col-xs-6.no-pad
          img(src="images/photos/gallery/gallery1/pic01.jpg")
          .options
            .switch
              i.fa.fa-ellipsis-h
        .pic-item.col-xs-6.no-pad
          img(src="images/photos/gallery/gallery1/pic02.jpg")
          .options
            .switch
              i.fa.fa-ellipsis-h
        .pic-item.col-xs-6.no-pad
          img(src="images/photos/gallery/gallery1/pic03.jpg")
          .options
            .switch
              i.fa.fa-ellipsis-h
        .pic-item.col-xs-6.no-pad
          img(src="images/photos/gallery/gallery1/pic04.jpg")
          .options
            .switch
              i.fa.fa-ellipsis-h
        .pic-item.col-xs-6.no-pad
          img(src="images/photos/gallery/gallery1/pic01.jpg")
          .options
            .switch
              i.fa.fa-ellipsis-h
        .pic-item.col-xs-6.no-pad
          img(src="images/photos/gallery/gallery1/pic02.jpg")
          .options
            .switch
              i.fa.fa-ellipsis-h
        .pic-item.col-xs-6.no-pad
          img(src="images/photos/gallery/gallery1/pic03.jpg")
          .options
            .switch
              i.fa.fa-ellipsis-h
        .pic-item.col-xs-6.no-pad
          img(src="images/photos/gallery/gallery1/pic04.jpg")
          .options
            .switch
              i.fa.fa-ellipsis-h
